<div class="events-container">
  <h1>Gallery</h1>
  <h3>Capturing you getting lost in the sauce</h3>

  <% if current_admin %>
    <%= link_to 'Create new event', new_event_path, class: "btn btn-primary"  %>
  <% end %>

  <div class="events-flex-card">
    <% @events.each do |event| %>

      <div class="event-card">
        <div class="img-div">
          <% if event.cover_image.attached? %>
            <%= image_tag event.cover_image, class: "event-image", size: "300x200" %>
          <% end %>
        </div>

        <div class="event-text">
          <h5><%= link_to event.name, event_images_path(event) %></h5>
          <p><%= event.date.strftime("%m/%d/%y") %></p>
        </div>
        <% if current_admin %>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary"  %>
          <%= link_to 'Delete', event_path(event), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!--make event-card link to image index-->
