<div class="container" id="homepage">
  <div class="content-card">

    <h1>AfroBounce</h1>
    <h3>The Vibe Curators</h3>

    <div class="links">
      <%= link_to "About", about_path  %>
      <%= link_to "Gallery", events_path  %>
      <%= link_to "Contact", new_contact_message_path  %>
    </div>

    <div class="newsletter-card">
      <h3>Sign up for our monthly updates</h3>
      <%= simple_form_for :subscriber, url: subscribe_path, data: { turbo: false } do |f| %>
        <%= f.input :name, label: "Name" %>
        <%= f.input :surname, label: "Surname" %>
        <%= f.input :email, label: "Email" %>
        <%= f.button :submit, "Sign up" %>
      <% end %>
    </div>
  </div>
</div>
